<!-- breadcrumb area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Xác minh</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- contact area start -->
<div class="contact-area pb-34 pb-md-18 pb-sm-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-info mt-md-28 mt-sm-28">
                    <div style="text-align: center;">
                        <h1>Xác nhận email thành công</h1>
                        <p>Cảm ơn bạn đã xác nhận email thành công.</p>
                        <p>Bạn có thể đăng nhập vào tài khoản của mình bây giờ.</p>
                        <a href="/login">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>