<div class="brand-area pt-28 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-30">
                    <div class="title-icon">
                        <i class="fa fa-crop"></i>
                    </div>
                    <h3>Nhà sản xuất</h3>
                </div> <!-- section title end -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="slick-padding slick-arrow-style">
                    <owl-carousel-o [options]="brandSlide">
                        <ng-template carouselSlide *ngFor="let nsx of ListNhaSanXuat">
                            <div class="brand-item text-center">
                                <a (click)="searchNhaSanXuat(nsx.id)"><img [src]="'data:image/jpg;base64,' + nsx.anh" width="200" height="100" alt=""></a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>