<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>QUẢN LÝ SẢN PHẨM</h4>
                        </div>
                        <div class="card-body">

                            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addModal" (click)="loadForm()"><i class="fas fa-plus"></i> Thêm</button>
                            <button type="submit" class="btn btn-dark ml-1" data-toggle="modal" [attr.data-target]="modalTagel" (click)="viewClick(1)"><i class="fas fa-eye"></i> Xem</button>
                            <button type="submit" class="btn btn-warning ml-1" data-toggle="modal" [attr.data-target]="modalTagel" (click)="viewClick(2)"><i class="fas fa-edit"></i> Sửa</button>
                            <button type="submit" class="btn btn-danger ml-1" data-toggle="modal" [attr.data-target]="modalTagel" (click)="viewClick(3)"><i class="fas fa-trash"></i> Xoá</button>
                    
                            <div class="float-right mt-4">
                                <div class="input-group">
                                    <input class="form-control" type="search" placeholder="Bạn đang tìm gì.." aria-label="Search" data-width="200" id="searchInput" [(ngModel)]="searchTerm">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit" (click)="getall(1)"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
          
                            <div class="table-responsive mt-5">
                                <div class="float-right mt-2">
                                    <span>Tổng số lượng: {{ totalItems }}</span>
                                </div> 
                                <table class="table table-hover" style="width:100%;">
                                    <thead id="mainTable" class="table table-striped">
                                        <tr class="text-center">
                                            <th>#</th>
                                            <th>Tên</th>
                                            <th>Ảnh</th>
                                            <th>Tên nhà sản xuất</th>
                                            <th>Tên loại</th>
                                            <th>Giá</th>
                                            <th>Số lượng</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let sp of ListSanPham | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems }; let i = index">
                                        <tr (click)="onRowClick(sp)" [class.selected]="selectedRow === sp" class="text-center">
                                            <td>{{ i + 1 }}</td> 
                                            <td>{{ sp.ten }}</td> 
                                            <td>
                                                <img style="width: 100px; height: 100px;" src="/assets/client/img/sanpham/{{ sp.anh }}">
                                            </td> 
                                            <td>{{ sp.tenNhaSanXuat }}</td> 
                                            <td>{{ sp.tenLoai }}</td> 
                                            <td>{{ sp.gia | number:'1.0-0' }} đ</td> 
                                            <td>{{ sp.soLuong }}</td> 
                                            <td> 
                                                <span *ngIf="sp.trangThai === 1" class="badge badge-success">Hoạt động</span> 
                                                <span *ngIf="sp.trangThai === 0" class="badge badge-danger">Khoá</span> 
                                            </td>
                                        </tr>
                                    </tbody>                        
                                </table>
                            </div>
                        </div>
                        <div class="paginatoin-area float-right pt-30 pb-30">
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="text-center mt-4">
                                        <pagination-controls class="pagination-controls"(pageChange)="getall($event)"(pageBoundsCorrection)="getall($event)"previousLabel="Trước"nextLabel="Sau"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal thêm -->
<div #addModal class="modal fade" id="addModal">
    <div class="modal-dialog modal-lg" style="max-width: 1200px;">
        <div class="modal-content">
            <!-- Tiêu đề Modal -->
            <div class="modal-header">
                <h4 class="modal-title mt-10">THÊM SẢN PHẨM</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Nội dung Modal -->
            <div class="modal-body">
                <div class="text-center">
                    <a class="text-danger">Các trường có dấu (*) không được để trống</a>
                </div>
                <form>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="ten">Tên <a class="text-danger"> (*)</a>:</label>
                                <input class="form-control" name="ten" [(ngModel)]="ten" placeholder="Nhập tên"/>   
                            </div>  
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="anh">Ảnh<a class="text-danger"> (*)</a>:</label>
                                <input type="file" class="form-control" name="anh" [(ngModel)]="anh" (change)="onFileChange($event)"/>
                            </div>
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="idNhaSanXuat">Nhà sản xuất<a class="text-danger"> (*)</a>:</label>
                                <select class="form-control" name="idNhaSanXuat" [(ngModel)]="idNhaSanXuat">
                                    <option value="" selected disabled>--- Chọn nhà sản xuất ---</option>
                                    <option *ngFor="let nsx of ListNhaSanXuat" value="{{ nsx.id }}">{{ nsx.ten }}</option>
                                </select>
                            </div> 
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="idLoai">Loại sản phẩm<a class="text-danger"> (*)</a>:</label>
                                <select class="form-control" name="idLoai" [(ngModel)]="idLoai">
                                    <option value="" selected disabled>--- Chọn loại sản phẩm ---</option>
                                    <option *ngFor="let l of ListLoai" value="{{ l.id }}">{{ l.ten }}</option>
                                </select>
                            </div> 
                        </div> 
                        <div class="form-row">
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="gia">Giá <a class="text-danger"> (*)</a>:</label>
                                <input type="number" class="form-control" name="gia" [(ngModel)]="gia"/>   
                            </div> 
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="ngayBatDau">Ngày bắt đầu <a class="text-danger"> (*)</a>:</label>
                                <input type="date" class="form-control" name="ngayBatDau" [(ngModel)]="ngayBatDau"/>   
                            </div>  
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="ngayKetThuc">Ngày kết thúc <a class="text-danger"> (*)</a>:</label>
                                <input type="date" class="form-control" name="ngayKetThuc" [(ngModel)]="ngayKetThuc"/>   
                            </div> 
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="trangThai" class="d-block">Trạng thái:</label>
                                <div class="custom-control custom-switch ml-10">
                                    <input type="checkbox" class="custom-control-input" id="trangThai" name="trangThai" [(ngModel)]="trangThai">
                                    <label class="custom-control-label" for="trangThai">Hoạt động</label>
                                </div>                              
                            </div>   
                        </div> 
                        <div class="form-row">
                            <div class="form-group col-md-12 col-xs-12">
                                <label for="moTa">Mô tả:</label>
                                <angular-editor [placeholder]="'Nhập mô tả'" name="moTa" [(ngModel)]="moTa"></angular-editor>
                            </div>
                        </div> 
                        <div class="form-row">
                            <hr class="col-md-12">
                        </div>  
                        <div class="form-row">
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="Ten">Tên thông số:</label>
                                <input class="form-control" name="newThongSo.Ten" [(ngModel)]="newThongSo.ten" placeholder="Nhập tên"/>
                            </div>
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="MoTa">Mô tả thông số:</label>
                                <input class="form-control" name="newThongSo.MoTa" [(ngModel)]="newThongSo.moTa" placeholder="Nhập mô tả"/>
                            </div> 
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="ten">.</label>
                                <button (click)="addThongSo()" class="form-control col-md-12 col-xs-12 btn-success">Thêm thông số</button>
                            </div>
                        </div>
                        
                        <table class="table table-hover mt-5" style="width:100%;">
                            <thead class="table table-striped">
                                <tr class="text-center">
                                    <th>#</th>
                                    <th>Thông số</th>
                                    <th>Mô tả</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let ts of thongSo; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ ts.ten }}</td>
                                    <td>{{ ts.moTa }}</td>
                                    <td>
                                        <button (click)="deleteThongSo(i)" class="btn btn-danger">Xoá</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>                  
            </div>

            <!-- Footer Modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" (click)="add()">Tạo mới</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal xem -->
<div #viewModal class="modal fade" id="viewModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Tiêu đề Modal -->
            <div class="modal-header">
                <h4 class="modal-title mt-10">THÔNG TIN SẢN PHẨM</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Nội dung Modal -->
            <div class="modal-body">
                <form>
                    <div class="card">
                        <div class="card-body">

                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-md-5 text-center">
                                        <img style="width: 200px; height: 200px;" src="/assets/client/img/sanpham/{{ anh }}" alt="Product Image">
                                    </div>
                                    <div class="col-md-7">
                                        <h3 class="mb-3"><b>{{ ten }}</b></h3>
                                        <p class="mt-2"><strong>Tên nhà sản xuất:</strong> {{ tenNhaSanXuat }}</p>
                                        <p class="mt-2"><strong>Loại sản phẩm:</strong> {{ tenLoai }}</p>
                                        <p class="mt-2"><strong>Giá:</strong> {{ gia | number:'1.0-0' }} đ</p>
                                        <p class="mt-2"><strong>Ngày tạo:</strong> {{ ngayTao | date: 'dd/MM/yyyy' }}</p>
                                        <p class="mt-2"><strong>Số lượng:</strong> {{ soLuong }}</p>
                                        <p class="mt-2"><strong>Trạng thái: </strong> 
                                            <span *ngIf="trangThai === 1" class="badge badge-success">Hoạt động</span> 
                                            <span *ngIf="trangThai === 0" class="badge badge-danger">Khoá</span> 
                                        </p>
                                    </div>
                                    <div class="col-md-12 mt-5"> 
                                        <strong>Mô tả:</strong>
                                        <p [innerHTML]="moTa"></p>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-hover mt-5" style="width:100%;">
                                <thead id="mainTable" class="table table-striped">
                                    <tr class="text-center">
                                        <th>#</th>
                                        <th>Thông số</th>
                                        <th>Mô tả</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let ct of thongSo, let i = index">
                                    <tr class="text-center">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ ct.ten }}</td>
                                        <td>{{ ct.moTa }}</td>
                                    </tr>
                                </tbody>                        
                            </table>

                        </div>
                    </div>                                               
                </form>
            </div>

            <!-- Footer Modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal sửa -->
<div #updateModal class="modal fade" id="updateModal">
    <div class="modal-dialog modal-lg" style="max-width: 1200px;">
        <div class="modal-content">
            <!-- Tiêu đề Modal -->
            <div class="modal-header">
                <h4 class="modal-title mt-10">SỬA SẢN PHẨM</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Nội dung Modal -->
            <div class="modal-body">
                <div class="text-center">
                    <a class="text-danger">Các trường có dấu (*) không được để trống</a>
                </div>
                <form>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="ten">Tên <a class="text-danger"> (*)</a>:</label>
                                <input class="form-control" name="ten" [(ngModel)]="ten" placeholder="Nhập tên"/>   
                            </div>  
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="anh">Ảnh<a class="text-danger"> (*)</a>:</label>
                                <input type="file" class="form-control" name="anh" [(ngModel)]="anh" (change)="onFileChange($event)"/>
                            </div>
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="idNhaSanXuat">Nhà sản xuất<a class="text-danger"> (*)</a>:</label>
                                <select class="form-control" name="idNhaSanXuat" [(ngModel)]="idNhaSanXuat">
                                    <option value="" selected disabled>--- Chọn nhà sản xuất ---</option>
                                    <option *ngFor="let nsx of ListNhaSanXuat" value="{{ nsx.id }}">{{ nsx.ten }}</option>
                                </select>
                            </div> 
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="idLoai">Loại sản phẩm<a class="text-danger"> (*)</a>:</label>
                                <select class="form-control" name="idLoai" [(ngModel)]="idLoai">
                                    <option value="" selected disabled>--- Chọn loại sản phẩm ---</option>
                                    <option *ngFor="let l of ListLoai" value="{{ l.id }}">{{ l.ten }}</option>
                                </select>
                            </div> 
                        </div> 
                        <div class="form-row">
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="gia">Giá <a class="text-danger"> (*)</a>:</label>
                                <input type="number" class="form-control" name="gia" [(ngModel)]="gia"/>   
                            </div> 
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="ngayBatDau">Ngày bắt đầu <a class="text-danger"> (*)</a>:</label>
                                <input type="date" class="form-control" name="ngayBatDau" [(ngModel)]="ngayBatDau"/>   
                            </div>  
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="ngayKetThuc">Ngày kết thúc <a class="text-danger"> (*)</a>:</label>
                                <input type="date" class="form-control" name="ngayKetThuc" [(ngModel)]="ngayKetThuc"/>   
                            </div> 
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="trangThai" class="d-block">Trạng thái:</label>
                                <div class="custom-control custom-switch ml-10">
                                    <input type="checkbox" class="custom-control-input" id="trangThai" name="trangThai" [(ngModel)]="trangThai">
                                    <label class="custom-control-label" for="trangThai">Hoạt động</label>
                                </div>                              
                            </div>   
                        </div> 
                        <div class="form-row">
                            <div class="form-group col-md-12 col-xs-12">
                                <label for="moTa">Mô tả:</label>
                                <angular-editor [placeholder]="'Nhập mô tả'" name="moTa" [(ngModel)]="moTa"></angular-editor>
                            </div>
                        </div> 
                        <div class="form-row">
                            <hr class="col-md-12">
                        </div>  
                        <div class="form-row">
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="ten">Tên thông số:</label>
                                <input class="form-control" name="newThongSo.Ten" [(ngModel)]="newThongSo.ten" placeholder="Nhập tên"/>
                            </div>
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="ten">Mô tả thông số:</label>
                                <input class="form-control" name="newThongSo.MoTa" [(ngModel)]="newThongSo.moTa" placeholder="Nhập mô tả"/>
                            </div>   
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="ten">.</label>
                                <button class="form-control col-md-12 col-xs-12 btn-success" (click)="createThongSoUpdate()">Thêm thông số</button>
                            </div>
                        </div>
                        
                        <table class="table table-hover mt-5" style="width:100%;">
                            <thead class="table table-striped">
                                <tr class="text-center">
                                    <th>#</th>
                                    <th>Thông số</th>
                                    <th>Mô tả</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let ts of thongSo; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ ts.ten }}</td>
                                    <td>{{ ts.moTa }}</td>
                                    <td>
                                        <button (click)="deleteThongSoUpdate(ts)" class="btn btn-danger">Xoá</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>                  
            </div>

            <!-- Footer Modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" (click)="update()">Sửa</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal xoá -->
<div #deleteModal class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Tiêu đề Modal -->
            <div class="modal-header">
                <h4 class="modal-title mt-10">XOÁ SẢN PHẨM</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Nội dung Modal -->
            <div class="modal-body">
                Bạn có chắc chắn muốn xoá
            </div>

            <!-- Footer Modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" (click)="delete()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal thông báo chưa chọn dòng dữ liệu -->
<div class="modal fade" id="messageModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-10">THÔNG BÁO</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Hãy chọn một dòng dữ liệu trước khi xử lý.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>