<div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">

      <!--Header-->
      <app-ad-header></app-ad-header>
      <!--Header-->  

      <!--Footer-->
      <app-sidebar></app-sidebar>
      <!--Footer-->

      <!-- Main Content -->
      <router-outlet></router-outlet>

      <!--Settingsidebar-->
      <app-settingsidebar></app-settingsidebar>
      <!--Settingsidebar-->

      <!--Footer-->
      <app-ad-footer></app-ad-footer>
      <!--Footer-->

  </div>
</div>