<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>QUẢN LÝ MENU</h4>
                        </div>
                        <div class="card-body">

                            <!-- <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addModal" (click)="loadForm()"><i class="fas fa-plus"></i> Thêm</button> -->
                            <button type="submit" class="btn btn-dark ml-1" data-toggle="modal" [attr.data-target]="modalTagel" (click)="viewClick(1)"><i class="fas fa-eye"></i> Xem</button>
                            <button type="submit" class="btn btn-warning ml-1" data-toggle="modal" [attr.data-target]="modalTagel" (click)="viewClick(2)"><i class="fas fa-edit"></i> Sửa</button>
                            <!-- <button type="submit" class="btn btn-danger ml-1" data-toggle="modal" [attr.data-target]="modalTagel" (click)="viewClick(3)"><i class="fas fa-trash"></i> Xoá</button> -->
                    
                            <div class="float-right mt-4">
                                <div class="input-group">
                                    <input class="form-control" type="search" placeholder="Bạn đang tìm gì.." aria-label="Search" data-width="200" id="searchInput" [(ngModel)]="searchTerm">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit" (click)="getall(1)"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
          
                            <div class="table-responsive mt-5">
                                <div class="float-right mt-2">
                                    <span>Tổng số lượng: {{ totalItems }}</span>
                                </div> 
                                <table class="table table-hover" style="width:100%;">
                                    <thead id="mainTable" class="table table-striped">
                                        <tr class="text-center">
                                            <th>#</th>
                                            <th>Tên</th>
                                            <th>Link</th>
                                            <th>Menu cha</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let mn of ListMenu | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems }; let i = index">
                                        <tr (click)="onRowClick(mn)" [class.selected]="selectedRow === mn" class="text-center">
                                            <td>{{ (p - 1) * pageSize + i + 1 }}</td>
                                            <td>{{ mn.ten }}</td>
                                            <td>{{ mn.link }}</td>
                                            <td>{{ mn.tenMenuCha }}</td>
                                            <td>
                                                <span *ngIf="mn.trangThai === 1" class="badge badge-success">Hoạt động</span>
                                                <span *ngIf="mn.trangThai === 0" class="badge badge-danger">Khoá</span>
                                            </td>
                                        </tr>
                                    </tbody>                        
                                </table>
                            </div>
                        </div>
                        <div class="paginatoin-area float-right pt-30 pb-30">
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="text-center mt-4">
                                        <pagination-controls class="pagination-controls"(pageChange)="getall($event)"(pageBoundsCorrection)="getall($event)"previousLabel="Trước"nextLabel="Sau"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal thêm -->
<div #addModal class="modal fade" id="addModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Tiêu đề Modal -->
            <div class="modal-header">
                <h4 class="modal-title mt-10">THÊM MENU</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Nội dung Modal -->
            <div class="modal-body">
                <div class="text-center">
                    <a class="text-danger">Các trường có dấu (*) không được để trống</a>
                </div>
                <form>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="ten">Tên<a class="text-danger"> (*)</a>:</label>
                                <input class="form-control" name="ten" [(ngModel)]="ten" placeholder="Nhập tên"/>
                            </div>
                            <div class="form-group col-12">
                                <label for="link">Link<a class="text-danger"> (*)</a>:</label>
                                <input class="form-control" name="link" [(ngModel)]="link" placeholder="Nhập link"/>
                            </div>
                            <div class="form-group col-12">
                                <label for="idCha">Menu cha:</label>
                                <select class="form-control" name="idCha" [(ngModel)]="idCha">
                                    <option value="" selected disabled>--- Chọn menu cha ---</option>
                                    <option *ngFor="let mn of ListMenuCha" value="{{ mn.id }}">{{ mn.ten }}</option>
                                </select>
                            </div>
                            <div class="form-group col-12">
                                <label for="trangThai" class="d-block">Trạng thái:</label>
                                <div class="custom-control custom-switch ml-10">
                                    <input type="checkbox" class="custom-control-input" id="trangThai" name="trangThai" [(ngModel)]="trangThai">
                                    <label class="custom-control-label" for="trangThai">Hoạt động</label>
                                </div>                              
                            </div>                                                                                 
                        </div>
                    </div>
                </form>                  
            </div>

            <!-- Footer Modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" (click)="add()">Tạo mới</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal xem -->
<div #viewModal class="modal fade" id="viewModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Tiêu đề Modal -->
            <div class="modal-header">
                <h4 class="modal-title mt-10">XEM MENU</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Nội dung Modal -->
            <div class="modal-body">
                <form>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <strong for="ten">Tên:</strong>
                                <p>{{ ten }}</p>
                            </div>
                            <div class="form-group col-12">
                                <strong for="link">Link:</strong>
                                <p>{{ link }}</p>
                            </div>
                            <div class="form-group col-12">
                                <strong for="tenMenuCha">Menu cha:</strong>
                                <p>{{ tenMenuCha }}</p>
                            </div>
                            <div class="news-text">
                                <strong>Trạng thái: 
                                    <span *ngIf="trangThai === 1" class="badge badge-success">Hoạt động</span>
                                    <span *ngIf="trangThai === 0" class="badge badge-danger">Khoá</span>
                                </strong>
                            </div>        
                        </div>
                    </div>
                </form>
            </div>

            <!-- Footer Modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal sửa -->
<div #updateModal class="modal fade" id="updateModal">
    <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <!-- Tiêu đề Modal -->
              <div class="modal-header">
                  <h4 class="modal-title mt-10">SỬA MENU</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Nội dung Modal -->
              <div class="modal-body">
                <div class="text-center">
                    <a class="text-danger">Các trường có dấu (*) không được để trống</a>
                </div>
                <form>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="ten">Tên<a class="text-danger"> (*)</a>:</label>
                                <input class="form-control" name="ten" [(ngModel)]="ten" placeholder="Nhập tên"/>
                            </div>
                            <div class="form-group col-12">
                                <label for="link">Link<a class="text-danger"> (*)</a>:</label>
                                <input class="form-control" name="link" [(ngModel)]="link" placeholder="Nhập link"/>
                            </div>
                            <div class="form-group col-12">
                                <label for="idCha">Menu cha:</label>
                                <select class="form-control" name="idCha" [(ngModel)]="idCha">
                                    <option *ngFor="let mn of ListMenu" value="{{ mn.id }}">{{ mn.ten }}</option>
                                </select>
                            </div>
                            <div class="form-group col-12">
                                <label for="trangThai" class="d-block">Trạng thái:</label>
                                <div class="custom-control custom-switch ml-10">
                                    <input type="checkbox" class="custom-control-input" id="trangThai" name="trangThai" [(ngModel)]="trangThai">
                                    <label class="custom-control-label" for="trangThai">Hoạt động</label>
                                </div>                              
                            </div> 
                        </div>
                    </div>
                </form>
            </div>

            <!-- Footer Modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" (click)="update()">Sửa</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal xoá -->
<div #deleteModal class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Tiêu đề Modal -->
            <div class="modal-header">
                <h4 class="modal-title mt-10">XOÁ MENU</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Nội dung Modal -->
            <div class="modal-body">
                Bạn có chắc chắn muốn xoá
            </div>

            <!-- Footer Modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" (click)="delete()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal thông báo chưa chọn dòng dữ liệu -->
<div class="modal fade" id="messageModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-10">THÔNG BÁO</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Hãy chọn một dòng dữ liệu trước khi xử lý.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>