<header>

    <!-- header top start -->
    <div class="header-top-area bg-gray text-center text-md-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <div class="header-call-action">
                        <a href="#">
                            <i class="fa fa-envelope"></i>
                            {{ email.noiDung }}
                        </a>
                        <a href="#">
                            <i class="fa fa-phone"></i>
                            {{ sdt.noiDung | slice:0:3 }}.{{ sdt.noiDung | slice:3:6 }}.{{ sdt.noiDung | slice:6:10 }}
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="header-top-right float-md-right float-none">
                        <nav>
                            <ul>
                                <li>
                                    <ng-container *ngIf="user && user.idQuyen !== 2">
                                        <a routerLink="/admin/profile">Admin</a>
                                    </ng-container>                                                           
                                </li>
                                <li>
                                    <div class="dropdown header-top-dropdown">
                                        <a class="dropdown-toggle" id="myaccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ user ? user.ten : 'Tài khoản' }}
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="myaccount">
                                            <a class="dropdown-item" *ngIf="!user" routerLink="/login">Đăng nhập</a>
                                            <a class="dropdown-item" *ngIf="!user" routerLink="/signin">Đăng ký</a>
                                            <a class="dropdown-item" *ngIf="user" routerLink="/taikhoan">Tài khoản</a>
                                            <a class="dropdown-item" *ngIf="user" (click)="deleteUser()">Đăng xuất</a>
                                        </div>
                                    </div>                                    
                                </li>
                                <li>
                                    <a routerLink="/tracuudonhang">Tra cứu đơn hàng</a>
                                </li>
                                <li>
                                    <a routerLink="/cart">Giỏ hàng</a>
                                </li>
                                <li>
                                    <a routerLink="/lienhe">Liên hệ</a>
                                </li>
                                <li>
                                    <a routerLink="/dieukhoandichvu">Điều khoản</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top end -->

    <!-- header middle start -->
    <div class="header-middle-area pt-20 pb-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="brand-logo">
                        <a routerLink="/">
                            <img [src]="'data:image/jpg;base64,' + logo.anh" alt="brand logo">
                        </a>
                    </div>
                </div> <!-- end logo area -->
                <div class="col-lg-9">
                    <div class="header-middle-right">
                        <div class="header-middle-shipping mb-20">
                            <div class="single-block-shipping">
                                <div class="shipping-icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <div class="shipping-content">
                                    <h5>{{ time.ten }}</h5>
                                    <span>{{ time.noiDung }}</span>
                                </div>
                            </div> <!-- end single shipping -->
                            <div class="single-block-shipping">
                                <div class="shipping-icon">
                                    <i class="fa fa-truck"></i>
                                </div>
                                <div class="shipping-content">
                                    <h5>{{ shipping.ten }}</h5>
                                    <span>{{ shipping.noiDung }}</span>
                                </div>
                            </div> <!-- end single shipping -->
                            <div class="single-block-shipping">
                                <div class="shipping-icon">
                                    <i class="fa fa-money"></i>
                                </div>
                                <div class="shipping-content">
                                    <h5>{{ refund.ten }}</h5>
                                    <span>{{ refund.noiDung }}</span>
                                </div>
                            </div> <!-- end single shipping -->
                        </div>
                        <div class="header-middle-block">
                            <div class="header-middle-searchbox">
                                <input type="text" [(ngModel)]="timkiem" placeholder="Bạn đang tìm gì..." (keyup)="onKeyUp($event)">
                                <button (click)="search()" class="search-btn"><i class="fa fa-search"></i></button>
                              </div>                              
                            <a routerLink="/cart" class="header-mini-cart">
                                <div class="mini-cart-btn">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="cart-notification">{{ SoLuong }}</span>
                                </div>
                                <div class="cart-total-price" style="font-size: 14px">
                                    <span>{{ TongGia | number:'1.0-0' }} đ</span>
                                </div>
                            </a>                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header middle end -->

    <!-- main menu area start -->
    <div class="main-header-wrapper bdr-bottom1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-header-inner">
                        <div class="category-toggle-wrap">
                            <div class="category-toggle">
                                Danh mục sản phẩm
                                <div class="cat-icon">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                            <nav class="category-menu" [ngClass]="{'hm-1': isHomePage, 'category-style-2': !isHomePage}">
                                <ul>
                                    <ng-container *ngFor="let mn of ListDanhMuc">
                                        <li><a routerLink="/danhmucsanpham/{{ mn.id }}"><img style="width: 20px;" [src]="'data:image/jpg;base64,' + mn.bieuTuong" /> <i></i> {{ mn.ten }} </a></li>     
                                    </ng-container>
                                </ul>
                            </nav>                        
                        </div>
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <ng-container *ngFor="let mn of ListMenu; let isFirst = first">
                                        <li [class.active]="isFirst">
                                          <a routerLink="{{ mn.link }}">
                                            <i class="fa fa-home" *ngIf="isFirst"></i> 
                                            {{ mn.ten }}
                                            <i class="fa fa-angle-down" *ngIf="mn.children && mn.children.length > 0"></i>
                                          </a>
                                          <ul *ngIf="mn.children && mn.children.length > 0" class="dropdown">
                                            <li *ngFor="let child of mn.children">
                                              <a [routerLink]="child.link">{{ child.ten }}</a>
                                            </li>
                                          </ul>
                                        </li>
                                    </ng-container>                                                                                                                       
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-block d-lg-none">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- main menu area end -->

</header>