<footer>
    <!-- footer top start -->
    <div class="footer-top bg-black pt-14 pb-14">
        <div class="container">
            <div class="footer-top-wrapper">
                <div class="newsletter__wrap">
                    <div class="newsletter__title">
                        <div class="newsletter__icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="newsletter__content">
                            <h3>Đăng ký để nhận bản tin</h3>
                            <p>Nhập email vào nếu bạn muốn đăng ký nhận bản tin</p>
                        </div>
                    </div>
                    <div class="newsletter__box">
                        <form id="mc-form">
                            <input type="email" id="mc-email" autocomplete="off" placeholder="Email">
                            <button id="mc-submit">Đăng ký!</button>
                        </form>
                    </div>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
                <div class="social-icons">
                    <a routerLink="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a routerLink="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a routerLink="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                    <a routerLink="#" data-toggle="tooltip" data-placement="top" title="Google-plus"><i class="fa fa-google-plus"></i></a>
                    <a routerLink="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- footer top end -->

    <!-- footer main start -->
    <div class="footer-widget-area pt-40 pb-38 pb-sm-10">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>Liên hệ</h4>
                        </div>
                        <div class="widget-body">
                            <ul class="location">
                                <li><i class="fa fa-envelope"></i>{{ email.noiDung }}</li>
                                <li><i class="fa fa-phone"></i>+(84) {{ sdt.noiDung | slice:0:3 }}.{{ sdt.noiDung | slice:3:6 }}.{{ sdt.noiDung | slice:6:10 }}</li>
                                <li><i class="fa fa-map-marker"></i>Địa chỉ: {{ diaChi.noiDung }}</li>
                            </ul>
                            <a class="map-btn" routerLink="contact-us.html">Mở trong google map</a>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>Tài khoản</h4>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li><a routerLink="/taikhoan">Tài khoản của tôi</a></li>
                                <li><a routerLink="/taikhoan">Đơn hàng của tôi</a></li>
                                <li><a routerLink="/cart">Giỏ hàng của tôi</a></li>
                                <li><a routerLink="/login">Đăng nhập</a></li>
                                <li><a routerLink="/signin">Đăng ký</a></li>
                            </ul>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>Nội dung</h4>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li><a routerLink="/">Trang chủ</a></li>
                                <li><a routerLink="/gioithieu">Giới thiệu</a></li>
                                <li><a routerLink="/tintuc">Tin tức</a></li>
                                <li><a routerLink="/lienhe">Liên hệ</a></li>
                                <li><a routerLink="/tracuudonhang">Tra cứu đơn hàng</a></li>
                            </ul>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>Điều khoản</h4>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li><a routerLink="/dieukhoandichvu">Điều khoản dịch vụ</a></li>
                                <li><a routerLink="/quydinhdoitra">Quy định đổi trả</a></li>
                                <li><a routerLink="/quydinhbaohanh">Quy định bảo hành</a></li>
                                <li><a routerLink="/trungtambaohanh">Trung tâm bảo hành</a></li>
                                <li><a routerLink="/chinhsachbaomat">Chính sách bảo mật</a></li>
                            </ul>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
            </div>
        </div>
    </div>
    <!-- footer main end -->

    <!-- footer bootom start -->
    <div class="footer-bottom-area bg-gray pt-20 pb-20">
        <div class="container">
            <div class="footer-bottom-wrap">
                <div class="copyright-text">
                    <p><a target="_blank">{{ banquyen.noiDung }}</a></p>
                </div>
                <div class="payment-method-img">
                    <img [src]="'data:image/jpg;base64,' + payment.anh" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- footer bootom end -->

</footer>